body{
	background: url(../images/bg2.jpg) repeat;
	width: 100%;
}

#wrap{
	max-width: 980px;
	width: 980px;
	margin: 0 auto;
}

#movies, #movieDetail, #postDetail{
	width: 67.8%;
	width: 665px;
	float: right;
	margin: 35px 25px 0 0;
}

/*	------------------------------------------------

	Movies
	
	------------------------------------------------*/

#movies article{
	margin: 0 0 10px 0;
	padding: 0 0 21px 0;
	background: transparent url('../images/shadow2.png') no-repeat left bottom;
}

#movies article.even{
	float: left;
	clear: right;
	margin-left: 50px;
}

#movies article.odd{
	float: right;
	margin-right: 50px;
}

#movies article h2{
	font-size: 18px;
	line-height: 42px;
	padding: 0 0 0 10px;
}

/*	------------------------------------------------

	Synopsis
	
	------------------------------------------------*/

#movieDetail article header h2{
	font-size: 28px;
	line-height: 36px;
	padding: 0 0 0 10px;
}

#movieDetail article header h3{
	font-size: 24px;
	line-height: 36px;
	float: right;
	clear: both;
	margin: -40px 10px 0 0;
}

#movieDetail article section{
	margin: 20px 0 0 0;
}

#movieDetail article section p{
	width: 45%;
	float: left;
	clear: both;
}

#movieDetail article section h4{
	float: left;
	margin: 0 0 15px 0;
}

#movieDetail article section ul{
	float: right;
	width: 45%;
}

#movieDetail article section ul li{
	margin: 2px 0;
}

/*	------------------------------------------------

	Posts
	
	------------------------------------------------*/
	
#postDetail article header h2{
	font-size: 28px;
	line-height: 36px;
	padding: 0 0 0 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#postDetail article section{
	margin: 20px 0 0 0;
	font: Arial, Helvetica, sans-serif;
}

#postDetail article section p{
	width: 75%;
	float: left;
	clear: both;
	margin: 10px 0;
	font-size: 18px;
	line-height: 20px;
}

#postDetail article section ul{
	float: left;
	width: 75%;
}

#postDetail article section ul li{
	margin: 2px 0;
}

#postDetail article section strong{
	text-transform: uppercase;
	font-weight: bold;
}

#postDetail article section a{
	color: #D0AE5A;
}

/*	------------------------------------------------

	Misc
	
	------------------------------------------------*/

#mini_bar{
	height: 400px;
	width: 220px;
	float: left;
	background: #30302F;
	margin: 0 0 0 50px;
}

#mini_bar #logo{
	width: 220px;
}

#mini_footer{
	clear: both;
}

.photo_container{
	background: #FFF;
}

.thumbnail_image{
	width: 255px;
	padding: 10px 7px 0 7px;
	background: #FFF;
}

.poster_image{
	width: 642px;
	padding: 10px 10px 10px 10px;
	background: #FFF;
}